<div id="systemitems" class="tab-pane fade">
{{#each this.char.custom.items as |item|}}
<div class="item-name">{{item.name}}</div><div class="item-desc">{{{ansi-format text=item.desc}}}</div>
{{/each}}
</div>

